// Media query variables.
@mobile:  ~"(max-width: 767px)";
@tablet:  ~"(min-width: 768px) and (max-width: 979px)";
@normal:  ~"(min-width: 980px) and (max-width: 1199px)";
@wide:    ~"(min-width: 1200px)";

// Bootstrap library.
@import 'main_bootstrap.less';
@import 'main_responsive.less';

// Base-theme overrides.
@import 'main_overrides.less';

// Theme specific.
